@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic')

$xs: 576
$sm: 768
$md: 992
$lg: 1200
$xl: 1320

$green: #2d9c44

html,body 
	font-size: 16px
	font-family: 'PT Sans', sans-serif
	background-color: #f5f5f5
	+rmin($sm)
		font-size: 16px

img 
	max-width: 100%

// .error
// 	border-color: red
// 	background-color: #e8cbcb

.container
	@media (min-width: 1340px)
		min-width: 1280px

.header a
	text-decoration: none
	position: relative
	&:after
		content: ' '
		width: 0
		position: absolute
		bottom: -0.063rem
		left: 0
		height: 1px
		background-color: #ffffff
		+tr(all ease 0.3s)
	&:hover
		text-decoration: none
		&:after
			width: 100%

// general
img 
	max-width: 100%

.title
	font-weight: 700
	text-transform: uppercase
	margin-bottom: 2rem
	position: relative
	&--white
		color: #ffffff
	&--divider
		padding-bottom: 2rem
		&:before
			width: 100%
			max-width: 5rem
			content: ' '
			position: absolute
			bottom: 1px
			left: 0
			height: 3px
			background-color: $green

// btn
.btn
	&--green 
		background: $green
	&--nor
		border-radius: 0
	&--big 
		padding: 0.75rem 2.5rem 0.75rem 1rem
		position: relative
		&:after
			content: '›'
			position: absolute
			top: calc(50% - 0.875rem)
			right: 1.5rem
			color: #ffffff
			font-size: 1.125rem
			+tr(all ease 0.3s)
		&:hover:after
			transform: translateX(0.5rem)


// content
.content
	& h4, & h5, & h6
		font-weight: 700
		text-transform: uppercase
		margin-bottom: 1.5rem
	& p 
		margin-bottom: 1.5rem

.gallery
	&__link
		+tr(all ease 0.3s)
		&:hover
			opacity: 0.5



// owl
.owl
	&-next,&-prev 
		position: absolute
		top: calc(50% - 1rem)
		left: 1rem
		display: none
		+tr(all ease 0.3s)
		+rmin($sm)
			display: block
		& svg
			width: 2rem
			height: 2rem
			fill: #ffffff
		&:hover
			opacity: 0.75
		&.disabled
			opacity: 0.5

	&-next
		left: auto
		right: 1rem
		transform: rotate(180deg)