---
title: Каталог
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{% include 'partials/_header.html' %}

	<section class="jumbotron jumbotron--mb" style="background-image: url(../img/jumbotron.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Главная</a></li>
                            <li class="breadcrumb-item"><a href="#">Каталог</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Молочное оборудование</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-12">
                    <div class="jumbotron__title">Стойловое оборудование для привязного содержания</div>
                    <div class="jumbotron__descr">
                        В зависимости от выбранной Вами технологии содержании скота, стойловое оборудование которое мы 
                        производим всегда отличается высоким качеством и при его использовании не происходит 
                        травмирование скота.
                    </div>
                </div>
                <div class="col-12">
                    <div class="jumbotron__subnav">
                        <div class="jumbotron__list">
                            <a href="">Описание</a>
                            <a href="">Галерея</a>
                            <a href="">Консультация</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

	<section class="content mb-4 mt-5">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-10">
                    <p>Конструкция привязи выполняется из продольно поперечных труб, 
                    каждая из которых несет свою функциональную нагрузку. Исходя из 
                    многолетнего опыта работы по реконструкциям животноводческих ферм, 
                    с привязным содержанием, нами была разработана схема оборудования 
                    привязи с функцией автоматической отвязи скота.</p>

                    <p><img src="img/content.jpg" alt="" /></p>

                    <p>Основной несущей конструкции привязи идет труба Ø76мм, она 
                    бетонируется в пол на глубину до 50мм и является жестким основанием. 
                    Верхняя труба – надхолочный брус. Данная труба Ø40мм устойчива к 
                    деформациям, поскольку несет основную критическую нагрузку при привязи 
                    скота. На ней же располагаются крючки для фиксации цепи привязи и 
                    установлен механизм отвязи. Нижняя труба – связывает стойловое 
                    оборудование в целостную систему и к ней крепится цепь привязи животного.</p>

                    <h5>Уровневая система поения КРС при привязном содержании.</h5>

                    <p>В базовой комплектации стойлового оборудования для привязного содержания 
                    предусмотрена уровневая система поения коров. Таким образом, в поилках 
                    постоянно поддерживается необходимое количество воды. На каждую группу 
                    (50 голов) устанавливается уровневый бак на 40л с проточно-пропускным 
                    клапаном, который управляет системой поения на данной группе. Поилки 
                    производятся как из черного металла с антикорозийной покраской. Объем поилки 
                    13л, толщина металла поилки для КРС - 3мм. В конце линии водопровода 
                    предусмотрены пробки для слива воды.</p>

                    <p>Уровневая система поения представляет собой систему сообщающихся 
                    поилок, объемом 13 л. На каждую группу (25 голов) устанавливается 
                    расширительный бак, емкостью 50 л, благодаря поплавковому клапану 
                    с увеличенной пропускной способностью в поилках постоянно поддерживается 
                    необходимый уровень воды.</p>

                    <div class="row">
                        {# <div class="col-12">
                            <h4 class="title">Галерея</h4>
                        </div> #}
                        {% for i in [1,2,3,4,5,6] %}
                        <div class="col-6 col-sm-4 mb-4">
                            <a href="" class="gallery__link">
                                <img src="img/content.jpg" alt="">
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    
                </div>
			</div>
		</div>
	</section>

    {# <section class="gallery">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class="title">Галерея</h4>
                </div>
                {% for i in [1,2,3,4,5,6,7] %}
                <div class="col-6 col-sm-4 mb-4">
                    <a href="" class="gallery__link">
                        <img src="img/content.jpg" alt="">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section> #}

	{% include 'partials/_callback.html' %}

	{% include 'partials/_footer.html' %}

{% endblock %}
