<section class="callback mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="callback__lay">
                    <div class="row">
                        <div class="col-12">
                            <h4 class="title title--white text-center">Получить консультацию и спецпредложение от ПрикамАгро</h4>
                        </div>
                        <div class="col-10 offset-1 col-md-8 offset-md-2">
                            <form action="" class="row">
                                <div class="col-md-6 mb-2">
                                    <div class="form-group">
                                        <input type="text" name="" id="1" class="form-control" placeholder="Ваше имя">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <div class="form-group">
                                        <input type="text" name="" id="2" class="form-control" placeholder="Ваш телефон">
                                    </div>
                                </div>
                                <div class="col-12 mb-2">
                                    <div class="form-group">
                                        <textarea name="" id="3" cols="30" rows="5" class="form-control" placeholder="Ваш вопрос"></textarea>
                                    </div>
                                </div>
                                <div class="col-12 col-md-10 offset-md-1">
                                    <div class="form-check form-group">
                                        <input class="form-check-input" type="checkbox" value="" id="ch">
                                        <label class="form-check-label" for="ch">
                                            Настоящим я подтверждаю достоверность введенных мною сведений и даю согласие на
                                            обработку моих персональных данных в соответствие c Политикой Конфиденциальности 
                                            и Пользовательским соглашением
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12 text-center">
                                    <div class="form-group">
                                        <input type="button" value="Отправить" class="btn btn-success callback__btn">
                                    </div>
                                </div>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>