<section class="footer d-none d-md-block">
    <div class="container">
        <div class="row">
            <div class="col-6 col-lg-3 d-none d-sm-block">
                <div class="footer__logo">
                    <img src="img/logo-footer.png" alt="" />
                    <p>ПрикамАгро - ведущая строительная компания</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <a href="" class="footer__title">Доильное оборудование</a>
                <ul class="footer__nav">
                    <li><a href="">Молокопровод линейный (на 100 и 200 голов)</a></li>
                    <li><a href="">Летний лагерь для КРС (летняя дойка)</a></li>
                    <li><a href="">Доильный зал Ёлочка</a></li>
                    <li><a href="">Доильный зал "Карусель"</a></li>
                    <li><a href="">Доильный зал «Европараллель»</a></li>
                    <li><a href="">Индивидуальная доильная установка</a></li>
                </ul>

                <a href="" class="footer__title">Стойловое оборудование и системы поения</a>
                <ul class="footer__nav">
                    <li><a href="">Привязное стойловое оборудование c уровневой системой автопоения</a></li>
                    <li><a href="">Беспривязное стойловое оборудование</a></li>
                    <li><a href="">Групповые поилки</a></li>
                </ul>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <a href="" class="footer__title">Охлаждение и переработка молока</a>
                <ul class="footer__nav">
                    <li><a href="">Закрытого типа танк-охладитель</a></li>
                    <li><a href="">Открытого типа танк-охладитель</a></li>
                    <li><a href="">Пастеризатор стационарный</a></li>
                </ul>

                <a href="" class="footer__title">Навозоудаление</a>
                <ul class="footer__nav">
                    <li><a href="">Транспортер скребковый ТСН</a></li>
                    <li><a href="">Фекальные насосы НЖН и НЦИ</a></li>
                    <li><a href="">Дельта скреперные установки</a></li>
                </ul>

                <a href="" class="footer__title">Оборудование для телят</a>
                <ul class="footer__nav">
                    <li><a href="">Молочное такси для телят</a></li>
                    <li><a href="">Домики для телят</a></li>
                </ul>
            </div>
            
            <div class="col-12 col-sm-6 col-lg-3">
                <a href="" class="footer__title">Дополнительное оборудование для ферм</a>
                <ul class="footer__nav">
                    <li><a href="">Весы для животных (электронные и механические)</a></li>
                    <li><a href="">Станок для копыт</a></li>
                    <li><a href="">Маты резиновые (коврики)</a></li>
                    <li><a href="">Кормодробильный агрегат АКР, КДМ-5</a></li>
                    <li><a href="">Крематоры для животных</a></li>
                    <li><a href="">Автомобильные весы</a></li>
                </ul>

                <a href="" class="footer__title">Выполненые работы</a>
                <a href="" class="footer__title">Контакты</a>
            </div>
        </div>
    </div>
</section>
<section class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between justify-content-lg-end align-items-center">
                    <div class="copyright__phone">
                        <a href=""><span>+7 (3412)</span> 77-77-77</a>
                        <a href=""><span>+7 (965)</span> 845-53-83</a>
                    </div>
                    <div class="copyright__adress ">
                        <p class="d-none d-md-block">г.Ижевск, ул. Максима Горького 46</p>
                        <p>info@prikamagro.ru</p>
                    </div>
                    <div class="copyright__bank d-none d-md-block">
                        <a href=""><img src="img/sbrf.png" alt="" /></a>
                    </div>
                    <div class="copyright__bank d-none d-lg-block">
                        <a href=""><img src="img/rsb.jpg" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>