<section class="main-slide">
    <div class="main-slide__img active" style="background-image: url(img/slider.jpg)" data-img="1"></div>
    <div class="main-slide__img" style="background-image: url(img/slider2.jpg)" data-img="2"></div>
    <div class="main-slide__img" style="background-image: url(img/slider3.jpg)" data-img="3"></div>
    <div class="container">
        <div class="main-slide__list-old">
            <div class="row">
                <div class="col-12">
                    <div class="main-slide__list">
                        <div class="main-slide__item">
                            <div class="main-slide__number">01.</div>
                            <a href="" class="main-slide__link active" data-slide="1">Строительство</a>
                        </div>
                        <div class="main-slide__item">
                            <div class="main-slide__number">02.</div>
                            <a href="" class="main-slide__link" data-slide="2">Реконструкция</a>
                        </div>
                        <div class="main-slide__item">
                            <div class="main-slide__number">03.</div>
                            <a href="" class="main-slide__link" data-slide="3">Оборудование</a>
                        </div>
                    </div>
                    
                </div>
                {# <div class="col-md-4">
                    <div class="main-slide__item">
                        <div class="main-slide__number">02.</div>
                        <a href="" class="main-slide__link" data-slide="2">Реконструкция</a>
                    </div>
                    
                </div>
                <div class="col-md-4">
                    <div class="main-slide__item">
                        <div class="main-slide__number">03.</div>
                        <a href="" class="main-slide__link" data-slide="3">Оборудование</a>
                    </div>
                </div> #}
            </div>
        </div>
        <div class="main-slide__descr">
            <div class="row">
                <div class="col-md-5">
                    <p>Компания «ПрикамАгро» - это ведущая компания 
                    в сфере разработки, производства, внедрения 
                    и сопровождения современных решений по 
                    оснащению объектов молочного 
                    животноводства.</p>
                </div>
            </div>
        </div>
        
    </div>
</section>