<section class="project mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12"><h2 class="title title--divider">Проектирование ферм&nbsp;КРС</h2></div>
            <div class="col-12">
                <div class="project__lay">
                    <div class="project__left">
                        <p>В связи с правительственной программой 2013-2020 г, 
                            ориентированной на развитие сельского хозяйства, появилась 
                            необходимость улучшать и повышать производительность во 
                            всех сферах и этапах, начиная от предпроектного этапа объекта 
                            строительства и заканчивая эффективной эксплуатацией с 
                            минимальными потерями на обслуживании готового здания.</p>

                        <p>Специалисты компании “ПрикамАгро” занимаются разработкой 
                            проектов любой сложности, начиная от небольших фермерских 
                            хозяйств и заканчивая заводами по переработке животного 
                            или растительного сырья. Одним из приоритетных направлений 
                            развития аграрного сектора на текущий момент являются 
                            фермы по разведению крупного рогатого скота, 
                            молочно-товарные фермы, свинарники и т.д.</p>
                        <a href="" class="btn btn-success btn--green btn--nor btn--big">Подробнее</a>
                    </div>
                    <div class="project__right">
                        <div class="project__slider owl-carousel project-slider">
                            {% for i in [1,2,3] %}
                            <div class="project-slider__item">
                                <img src="img/project-slider.jpg" alt="">
                                <div class="project-slider__overlay">
                                    <div class="project-slider__title">Современный подход в проектировании</div>
                                    <div class="project-slider__descr">Используем профессиональные 3D редакторы для более детальной и наглядной разработки проекта фермы</div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>